/* Write your CSS here */
.transaction-container {
  display: flex;
  padding: 12px;
  border: solid 1px #7e858e;
  height: 50px;
  align-items: center;
  margin-left: 0;
  width: 100;
  margin-top: 0;
}
.transaction-details {
  width: 33%;
  margin-right: 20px;
}
.type-delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.delete-img {
  width: 25px;
  height: 25px;
}
